# Manifest syntax https://packaging.python.org/en/latest/guides/using-manifest-in/
#graft wheelhouse

recursive-exclude __pycache__  *.py[cod] *.orig
recursive-include src *.py

# Include the README and CHANGELOG
include *.md

# Include the license file
include LICENSE


# exclude tests from package
recursive-exclude tests *
recursive-exclude site *
exclude tests

# Include the build configuration, which also carries the requirements
include pyproject.toml

# Exclude build configs
exclude *.sh
exclude *.yml
exclude *.yaml
exclude Makefile

prune .devcontainer
prune .git
prune .github
